[submodule "WiringPi"]
	path = WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "lg"]
	path = lg
	url = https://github.com/joan2937/lg.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/lvgl/lv_drivers
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
